%header
  %h2 
    %a(href="/") repos
    &rsaquo;
    #{@repo.path_name}
%section#repo

  %h3 Builds
  %table
    %thead
      %tr
        %th(scope="col") Built at
        %th(scope="col") Ref
        %th(scope="col")
    %tbody
      - @repo.builds(:fields => %w{created_at ref}).each do |build|
        %tr
          %td= build.created_at
          %td= build.ref
          %td
            %a(href="/builds/#{build._id}") detail  
