header.main .extra-info {
  color: #aaa; }

body.build .log table {
  width: 100%; }
body.build .log th {
  color: white;
  background: black; }
  body.build .log th:first-child {
    width: 10%; }
  body.build .log th:last-child {
    overflow: hidden; }
